 #div1 {
    height: 90vh;
    width: 90vw;
    

}

.pattern{
    background-color: yellow;
    margin: 5px;
    height: 200px;
    width: 200px;
}

.button-add{
    background-color: green;   
    color: white; 
    height: 70px;
    width: 70px;
    position: fixed;
    left:    0;
    bottom:   0;
    
}

.button-remove{ 
    background-color: red; 
    color: white; 
    position: fixed;
    right:0;
    bottom:0;   
    height: 70px;
    width: 70px; 
}
/* 
:root{
    background-color: aqua;
    height: 80vh;
} */